body {
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #1b1b1b;
	background: #ECEBE8;
	margin: 0;
}
img {
	width: 100%;
	max-width: 100%;
}
h1 {
	color: #459B45;
	padding-left: 20px;
	display: block;
	font-size: 28px;
	line-height: 29px;
	font-weight: 600;
	text-decoration: none;
	margin: 0 0 10px 0;
}
h2 {
	color: #459B45;
	font-size: 20px;
	line-height: 21px;
	font-weight: 400;
	padding-left: 15px;
	margin-bottom: 0px;
}
a {
	font-weight: 600;
	color: #00A8E9;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color: #7FD0D7;
	text-decoration: none;
}
.menu_btn {
	display: block;
	width: 42px;
	height: 42px;
	position: absolute;
	top: 0;
	right: 30px;
	background: transparent url(../img/menu.svg) center center no-repeat;
	background-size: 42px 42px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .menu_btn {
	background: transparent url(../img/menu.png) center center no-repeat;
	background-size: cover;
}
.close {
	display: block;
	width: 47px;
	height: 47px;
	position: absolute;
	top: 0;
	left: -47px;
	background: transparent url(../img/close.svg) center center no-repeat;
	background-size: 47px 47px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close {
	background: transparent url(../img/close.png) center center no-repeat;
	background-size: cover;
}
.qr_phone {
	float: right;
	display: block;
	width: 125px;
	height: 125px;
	background: transparent url(../img/qr_phone.svg) center center no-repeat;
	background-size: 125px 125px;
	margin: 0 0 15px 10px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .qr_phone {
	background: transparent url(../img/qr_phone.png) center center no-repeat;
	background-size: cover;
}
.article {
	width: 450px;
	float: left;
	margin: 10px;
	border-top: 0px solid #383734;
	background: #FFF;
}
.article img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.article p {
	padding: 0 15px;
	line-height: 1.5;
	text-align: justify;
}
#page {
	width: 960px;
	position: relative;
	margin-top: 20px;
	padding-left: 10px;
}
#menu {
	height: 100%;
	position: fixed;
	background: #383734;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 240px;
	right: -240px;
	z-index: 9999;
}
#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu ul li {
	height: 47px;
	padding-left: 30px;
	line-height: 47px;
	border-bottom: 1px solid #42413E;
}
#menu ul li.active {
	background: #383734;
}
#menu ul li:hover {
	background: #42413E;
}
#menu ul li a {
	color: #C4C3C0;
	font-weight: 400;
	text-decoration: none;
	font-size: 16px;
	display: block;
}
/* Disable iOS/WinMobile font size changes */
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	};
}
/* ==== Media Queries ==== */
/* Wide Screen */
@media (min-width : 1280px) {
	#page {
		width: 1280px;
	}
	.article {
		width: 400px;
	};
}
/* Default Screen */
@media (min-width : 960px) and (max-width : 1280px) {
	#page {
		width: 960px;
	};
}
/* Tablet Screen Big */
@media (min-width : 720px) and (max-width : 960px) {
	.article {
		width: 330px;
	}
	#page {
		width: 720px;
	};
}
/* Tablet Screen Small */
@media (min-width : 640px) and (max-width : 720px) {
	.article {
		width: 600px;
	}
	#page {
		width: 640px;
	};
}
/* Mobile Screen Wide */
@media (max-width : 640px) {
	.menu_btn {
		right: 10px;
	}
	.article {
		width: auto;
	}
	#page {
		width: 100%;
		padding: 0;
	}
	#logo {
		width: 70%;
	};
}
