<!-- counters.html -->
			<!--externalcounters--><div id="externalcounters"><script><!--//--><![CDATA[//><!--
			(function(b,a,c,d){if(c&&d){var e=encodeURIComponent(a.referrer||"");b=encodeURIComponent(b.location.href||"");a=encodeURIComponent(("undefined"!==typeof earlyDocumentTitle?earlyDocumentTitle:(a.title||"")).replace("\x27","&#39;").replace("\x28","&#40;").replace("\x29","&#41;"));c.setAttribute("style","position:absolute;left:-9999px;width:1px;height:1px;border:0;background:transparent url("+d+"?dmn="+b+"&rfrr="+e+"&ttl="+a+"&encoding=utf-8) top left no-repeat;")}})(window,document,document.getElementById("externalcounters")||"",/localhost/.test(self.location.host)?"http://localhost/externalcounters/": "http://shimansky.biz/externalcounters/");
			//--><!]]></script></div><noscript><div style="position:absolute;left:-9999px;width:1px;height:1px;border:0;background:transparent url(http://shimansky.biz/externalcounters/) top left no-repeat;"></div></noscript><!--/externalcounters--><!-- Yandex.Metrika counter --><div id="yametrika11613547"><script><!--//--><![CDATA[//><!--
			(function(b){var a=b.createElement("script");b.getElementsByTagName("head")[0].appendChild(a);a.onload=function(){try{new Ya.Metrika({id:11613547,webvisor:!0,clickmap:!0,trackLinks:!0})}catch(a){}};a.onreadystatechange=function(){if(4===a.readyState||"complete"===a.readyState)try{new Ya.Metrika({id:11613547,webvisor:!0,clickmap:!0,trackLinks:!0})}catch(b){}};a.src="http://mc.yandex.ru/metrika/watch.js"}(document));
			//--><!]]></script></div><noscript><div style="position:absolute;left:-9999px;width:1px;height:1px;border:0;background:transparent url(http://mc.yandex.ru/watch/11613547) top left no-repeat;"></div></noscript><!-- /Yandex.Metrika counter -->